
#testing
python/test.py

#ENV VARIABLES
.env
python/modules/firebase/firebaseSDK.json

#pycaches
python/modules/__pycache__
python/modules/firebase/__pycache__
python/modules/classes/__pycache__
python/modules/util/__pycache__
